.customers {
    background-color: var(--primary-white-coor);
}

    .customers__title { 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: calc(33 / 28);
    text-align: center;
    color: var(--title-text-color);

    @media screen  and (min-width: $desktop) {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: calc(42 / 36);
    }
}

    .customers__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.customers__item {
    flex-basis: calc((100% - 30px) / 2);

    @media screen  and (min-width: $tablet) {
        flex-basis: calc((100% - 90px) / 4);
    }
    @media screen  and (min-width: $desktop) {
        flex-basis: calc((100% - 150px) / 6);
    }
}

    .customers__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: var(--social-color);

    transition: border-color var(--time) var(--cubic-bezier), color var(--time) var(--cubic-bezier);

    @media screen  and (min-width: $tablet) {
        width: 226px;
    }
    @media screen  and (min-width: $desktop) {
        width: 170px;
    }
}

    .customers__link:hover, 
    .customers__link:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);

}

    .customers__icons {
    fill: currentColor;
}