.gallery {
    background-color: var(--primary-white-coor);
    padding-bottom: 94px;
    
    @media screen  and (max-width: 1199px) {
        display: none;
    }
}

.gallery__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    color: var(--title-text-color);
}

.gallery__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.gallery__item {
    flex-basis: calc((100% - 30px * 2) / 3);
}

.gallery__wrapper {
    position: relative;
}

.gallery__imgs {
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.gallery__box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;

    background-color: rgba(47, 48, 58, 0.8);
}

.gallery__after {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    padding: 27px 0;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-white-coor);
}