.header {
    background-color: var(--primary-white-coor);
    border-bottom: 1px solid #ECECEC;

    @media screen and (max-width: 767px) {
        height: 60px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.header__container {
    display: flex;
    align-items: center;
}

.header__nav {
    margin-right: auto;
}

.header__logo {
    @media screen and (min-width: $tablet) {
        margin-right: 88px;
    }
    @media screen and (min-width: $desktop) {
        margin-right: 93px;
    }
}

.contact {
    display: none;

    @media screen and (min-width: $tablet) {
        display: block;
    }
    @media screen and (min-width: $desktop ) {
        display: flex;
        align-items: center;
    }
}

.contact__item:not(:last-child) {
    @media screen and (max-width: 1199px) {
        display: block;
        margin-bottom: 10px;
    }
    @media screen and (min-width: $desktop) {
        margin-right: 50px;
        margin-bottom: 0;
    }
}

.contact__link {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    fill: var(--primary-text-color);

    transition: color var(--time) var(--cubic-bezier);

&:hover,
&:focus {
    fill: var(--accent-color);
}
@media screen and (min-width: $desktop ) {
    padding: 32px 0;
    font-size: 14px;
    line-height: calc(16 / 14);
}
}


.contact__icons {
    margin-right: 8px;
    @media screen and (min-width: $desktop ) {
        margin-right: 10px;
    }
}