.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin-left: auto;
    padding: 0;
    // background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;

  &:hover,
  &:focus {
    background-color: #212121;
  }
  }

  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
  
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    padding: 48px 83px 48px 40px;
    background-color: #ffffff;
    z-index: 999;
  
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 21px;
    right: 21px;
    fill: currentColor;
  }
  
  .menu__mobile {
    padding: 0;
    margin-bottom: auto;
  }
  
  .menu__mobile .mobile__link {
    display: block;
    margin-bottom: 32px;

    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;

    color: #212121;
  }

  .menu__tel {
    display: block;
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40 / 34);
    letter-spacing: 0.02em;
    color: #2196F3;
  }

  .menu__mail {
    display: block;
    margin-top: 32px;
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;

    color: #757575;
  }

  .menu__social {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 64px;
  }


  .menu__link {
    margin-left: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;

    color: #2196F3;
  }

  .menu__span {
    margin-left: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }